{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">

<section class="formbox">

  <div class="row">
      <div class="card center-align col s10 m6 l6 offset-s1 offset-m3 offset-l3">
          <div class="card-content">
			<span class="card-title"> <strong>{{category.name}}</strong> </span>  
			<br>
			<p> Are you sure you want to delete this category?</p>
			<br>
          </div>

          <div class="card-action">
        	<form method='POST' action="{{url_for('deleteCategory', category_id=category.id)}}">
 			<input class="btn red lighten-1" type='submit' value='Delete'>
 			<a class="btn red lighten-1" href="{{url_for('showCategory')}}"> Cancel</a>
			</form>
          </div>

      </div>
  </div>
</section>
</div>

 {% endblock %}