{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
<section>
<div class="row">

  <div class="col s12 m12 l12" id="item-container">
            <div class="section">
            <div class="row">
               <div class="col s12 m12 l12 center-align" >
                <h2 > All Categories </h2>
              </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                     
                    <script>
                    $(function() {
                    Materialize.toast("{{ message }}", 3000);
                    });
                    </script>

                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="row center-align">
            <div class="add-button">
                <a  href="{{ url_for('newCategory')}}" class="waves-effect waves-light btn red lighten-1">
                    <i class="material-icons left">add_circle_outline</i>
                    Add New Category
                </a>
            </div>
            </div>

   {% for c in categories %}
        <div class="col s10 m6 l4 offset-s1">
          <a class="card-link" href="{{url_for('showItems', category_id = c.id)}}">
          <div class="card center-align hoverable">
            <div class="card-image">
              {% if firstitems[c.id-1].img == unknown %}
              <svg id="missing-img" width="1000" height="150">
                <rect width="1000" height="150" style="fill:#ef5350;" />
              </svg>
              {% endif %}
              <img src="{{firstitems[c.id-1].img}}">
              }
            </div></a>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4 pushright"> {{c.name}}
                <i class="material-icons right">more_vert</i>
              </span>
            </div>
          
            <div class="card-reveal">
  
              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
              
              <div id="manage" class="container valign-wrapper center-align">
                <a href="{{ url_for('editCategory', category_id=c.id)}}" class="manage-btn btn-flat waves-effect "><i class="material-icons left">create</i>Edit</a>
                <a href="{{ url_for('deleteCategory', category_id=c.id)}}" class="manage-btn btn-flat waves-effect"><i class="material-icons left">delete</i>Delete</a>
              </div>
              
            </div>
        </div>
   
      </div>
   {% endfor %}

</Section>
</div>

{% endblock %}
