{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">

<section class="formbox">

  <div class="row">
      <div class="card center-align col s10 m6 l6 offset-s1 offset-m3 offset-l3">
          <div class="card-content">
              <span class="card-title"> New Item </span>
          </div>

          <div class="card-action">
            <form method='POST' action="{{url_for('newItem', category_id=category_id)}}">

              <div class="input-field col s12">
                <input name="name" id="" type="text" class="validate" >
                <label for="name"> Name </label>
              </div>
              <div class="input-field col s12">
                <input name="brand" id="" type="text" class="validate" >
                <label for="brand"> Brand </label>
              </div>
              <div class="input-field col s12">
                <input name="img" id="" type="text" class="validate" >
                <label for="img"> Image </label>
              </div>
              <div class="input-field col s12">
                <input name="price" id="" type="text" class="validate" >
                <label for="brand"> Price </label>
              </div>
              <div class="input-field col s12">
                <input name="shopURL" id="" type="text" class="validate" >
                <label for="shopURL"> Shop URL </label>
              </div>

            <input class="btn red lighten-1" type='submit' value='Create'>

            </form>
          </div>

      </div>
  </div>
</div>
</section>
</div>

 {% endblock %}
