{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

  <div class="container">
        <div class="row">

            <div id="sidebar" class="col s12 m12 l2">
            <h5> Categories</h5>
            <div class="divider"> </div>
                {% for category in categories %}
                    <a class="category-link" href="{{url_for('showItems', category_id = category.id)}}">{{category.name}} </p></a>
                {% endfor %}
            </div>


            <div class="col s12 m12 l10" id="item-container">
            <div class="section">
            <div class="row">
               <div class="col s12 m12 l10 center-align" >
                <h2> {{ category.name }}</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{message}} </strong></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </div>
            </div>

        <div class="section">

        {% for i in items %}

        <div class="item col s12 m6 l4 center-align">
        <a href="{{i.shopURL}}">
        <img src="{{i.img}}" width="270" height="360">
        <br>
        <span class="brand-name"> <strong>{{i.brand}}</strong></span>
        <br>
        <span> {{i.name}}</span>
        <br>
        <span class=""> {{i.price}}</span>
        </a>

       
        <br>
        </div>
        {% endfor %}

        </div>
        </div>


      </div>
{% endblock %}
